/*
 * Override dc.js default styles for selection
 */

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .pie-slice {
    fill: #E8E6E6;
    font-size: 12px;
    cursor: pointer;
}

.dc-chart g.row text {
    fill: #E8E6E6;
    font-size: 12px;
    cursor: pointer;
}
/*
 * Page specific styles
 */

.logo {
        height:50px;
	padding: 5px;
	margin: 5px;
}